<div class="left-cont">
    <h6><span class="glyphicon glyphicon-search"></span> Общие сведения</h6>
    <ul class="nav menu">
        <li class="active">
           <a ui-sref="house.general" translate> GENERAL_INFO</a>
        </li>
        <li>
            <a ui-sref="house.address" translate> ADDRESS</a>
        </li>
        <li>
           <a ui-sref="house.desc" translate> DESC</a>
        </li>
    </ul>
    <h6><span class="glyphicon glyphicon-search"></span> Дополнительно </h6>
    <ul class="nav menu">
        <li>
            <a ui-sref="house.amenities" translate> AMENITIES</a>
        </li>
        <li>
            <a ui-sref="house.photos" translate> PHOTOS</a>
        </li>
    </ul>

</div>


