<div class="left-cont">
    <h6><span class="glyphicon glyphicon-search"></span> Общие сведения</h6>
    <ul class="nav menu">
        <li class="active">
           <a ui-sref="house.general"> Основная информация</a>
        </li>
        <li>
            <a ui-sref="house.address"> Адрес</a>
        </li>
        <li>
           <a ui-sref="house.desc"> Описание</a>
        </li>
    </ul>
    <h6><span class="glyphicon glyphicon-search"></span> Дополнительно </h6>
    <ul class="nav menu">
        <li>
            <a ui-sref="house.amenities"> Комфорт и удобства</a>
        </li>
        <li>
            <a ui-sref="house.photos"> Фотографии</a>
        </li>
    </ul>

</div>


