<content class="page-sub-page page-submit">
<!-- Page Content -->
<div id="page-content">
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Add your property</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<div class="container">
<header><h1 translate>Describe your house</h1></header>
<form role="form" id="form-submit" class="form-submit" ng-submit="saveHouse()">

<div class="row">
    <div class="block">
        <div class="col-md-9 col-sm-9">
            <section id="submit-form">
                <section id="basic-information">
                    <header><h2 translate>Basic info</h2></header>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="submit-title" translate>Title</label>
                                <input type="text" class="form-control" ng-model="house.title" id="submit-title" name="title" required>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="submit-price" translate>Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control" ng-model="house.price" id="submit-price" name="price" pattern="\d*" required>
                                </div>
                            </div><!-- /.form-group -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="submit-description" translate>Description</label>
                        <textarea class="form-control" id="submit-description" rows="8" ng-model="house.description" name="submit-description" required></textarea>
                    </div><!-- /.form-group -->
                </section><!-- /#basic-information -->

            </section>
        </div><!-- /.col-md-9 -->

        <div class="col-md-3 col-sm-3">
            <aside class="submit-step">
                <figure class="step-number">1</figure>
                <div class="description">
                    <h4 translate>Basic info hint</h4>
                    <p translate>Basic info hint description </p>
                </div>
            </aside><!-- /.submit-step -->
        </div><!-- /.col-md-3 -->

    </div>
</div>



<div class="row">
    <div class="block">
        <div class="col-md-9 col-sm-9">
            <section id="submit-form">
                <section>
                    <div class="row">
                        <div class="block clearfix">
                            <div class="col-md-6 col-sm-6">
                                <section id="summary">
                                    <header><h2 translate>General info</h2></header>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="submit-property-type" translate>Property type</label>
                                                <select nya-selectpicker name="type" title="{{'Select one' | translate}}" ng-options="item | translate for item in constants.houseTypes" ng-model="house.houseType" id="submit-property-type">
                                                </select>
                                            </div><!-- /.form-group -->

                                        </div><!-- /.col-md-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="submit-rent-type" translate>Rent type</label>
                                                <select nya-selectpicker title="{{'Select one' | translate}}" name="type" ng-options="item | translate for item in constants.rentTypes" ng-model="house.rentType" id="submit-rent-type">
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-md-6 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="submit-rooms-count" translate>Rooms count</label>
                                                <input type="number" class="form-control" id="submit-rooms-count" name="rooms-count" pattern="\d*" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-md-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="submit-area" translate>Area</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" ng-model="house.area" id="submit-area" name="area" pattern="\d*" required>
                                                    <span class="input-group-addon">m<sup>2</sup></span>
                                                </div>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-md-6 -->
                                    </div><!-- /.row -->

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" i-check>Allow user rating <i class="fa fa-question-circle tool-tip" tool-tip data-toggle="tooltip" data-placement="right" title="Users can give you a stars rating which is displayed in property detail"></i>
                                        </label>
                                    </div>
                                </section><!-- /#summary -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 col-sm-6">
                                <section id="place-on-map">
                                    <h2 translate>Place on Map</h2>
                                    <p class="link-arrow geo-location" translate>Get My Position</p>
                                    <br/>
                                    <div class="form-group">
                                        <label for="address-map" translate>Address</label>
                                        <input type="text" class="form-control" id="address-map" name="address">
                                    </div><!-- /.form-group -->
                                    <label for="address-map" translate>Or drag the marker to property position</label>
                                    <div map-submit id="submit-map"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                                            </div><!-- /.form-group -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                                            </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                </section><!-- /#place-on-map -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.block -->

                    </div><!-- /.row -->
                </section>
            </section>
        </div>


        <div class="col-md-3 col-sm-3">
            <aside class="submit-step">
                <figure class="step-number">2</figure>
                <div class="description">
                    <h4 translate>General info hint</h4>
                    <p translate>General info hint description </p>
                </div>
            </aside><!-- /.submit-step -->
        </div><!-- /.col-md-3 -->
    </div>

</div>


<div class="row">
    <div class="block">
        <div class="col-md-9 col-sm-9">
            <section id="submit-form">

                <section id="property-features" class="block">
                    <section>
                        <header><h2 translate>Property Features</h2></header>
                        <ul class="submit-features">
                            <li for="{{amenity.name}}" ng-repeat="amenity in amenities">
                                <div class="checkbox"><label><input type="checkbox" i-check id="{{amenity.name}}" name="selectedAmenities[]" ng-model="amenity.selected" type="checkbox" i-check value="{{amenity.name}}">{{amenity.name | translate}}</label></div>
                            </li>

                        </ul>
                    </section>
                </section>
                <hr>
            </section>
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-3">
            <aside class="submit-step">
                <figure class="step-number">3</figure>
                <div class="description">
                    <h4 translate>Amenities hint</h4>
                    <p translate>Amenities hint description </p>
                </div>
            </aside><!-- /.submit-step -->
        </div><!-- /.col-md-3 -->
    </div>
</div>


<div class="row">
    <div class="block">
        <div class="col-md-9 col-sm-9">
            <div class="center">
                <div class="form-group">
                    <button type="submit" class="btn btn-default large" translate>Add property</button>
                </div><!-- /.form-group -->
                <figure class="note block">By clicking the “Proceed to Payment” or “Submit” button you agree with our <a href="terms-conditions.html">Terms and conditions</a></figure>
            </div>
        </div>

    </div>
</div>
</form><!-- /#form-submit -->
</div><!-- /.container -->
</div>
<!-- end Page Content -->
</content>

