<!-- Page Footer -->
<footer id="page-footer">
<div class="inner">
    <section id="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <article>
                        <h3>About Us</h3>
                        <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                            id, ornare tortor
                        </p>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </article>
                </div><!-- /.col-sm-3 -->
                <div class="col-md-3 col-sm-3">
                    <article>
                        <h3>Recent Properties</h3>
                        <div class="property small">
                            <a ui-sref="property-detail">
                                <div class="property-image">
                                    <img alt="" src="/images/properties/property-06.jpg">
                                </div>
                            </a>
                            <div class="info">
                                <a ui-sref="property-detail"><h4>2186 Rinehart Road</h4></a>
                                <figure>Doral, FL 33178 </figure>
                                <div class="tag price">$ 72,000</div>
                            </div>
                        </div><!-- /.property -->
                        <div class="property small">
                            <a ui-sref="property-detail">
                                <div class="property-image">
                                    <img alt="" src="/images/properties/property-09.jpg">
                                </div>
                            </a>
                            <div class="info">
                                <a ui-sref="property-detail"><h4>2479 Murphy Court</h4></a>
                                <figure>Minneapolis, MN 55402</figure>
                                <div class="tag price">$ 36,000</div>
                            </div>
                        </div><!-- /.property -->
                    </article>
                </div><!-- /.col-sm-3 -->
                <div class="col-md-3 col-sm-3">
                    <article>
                        <h3>Contact</h3>
                        <address>
                            <strong>Your Company</strong><br>
                            4877 Spruce Drive<br>
                            West Newton, PA 15089
                        </address>
                        +1 (734) 123-4567<br>
                        <a href="#">hello@example.com</a>
                    </article>
                </div><!-- /.col-sm-3 -->
                <div class="col-md-3 col-sm-3">
                    <article>
                        <h3>Useful Links</h3>
                        <ul class="list-unstyled list-links">
                            <li><a href="#">All Properties</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Login and Register Account</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </article>
                </div><!-- /.col-sm-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /#footer-main -->
    <section footer-thumbnails id="footer-thumbnails" class="footer-thumbnails"></section><!-- /#footer-thumbnails -->
    <section id="footer-copyright">
        <div class="container">
            <span>Copyright © 2013. All Rights Reserved.</span>
            <span class="pull-right"><a href="#page-top" du-smooth-scroll class="roll">Go to top</a></span>
        </div>
    </section>
</div><!-- /.inner -->
</footer>
<!-- end Page Footer -->