<form class="form-horizontal" role="form" ng-submit="save(address)">

    <div class="form-group">
        <label class="col-md-2 selecter-label" translate>
            COUNTRY
        </label>

        <div class="col-md-4">
            <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Страна">{{$select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="country in countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>CITY</label>
        <div class="col-md-4">
            <input ng-model="address.city" type="text" class="form-control" placeholder="{{'CITY' | translate}}">
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label class="col-md-2 selecter-label">-->
            <!--Город-->
        <!--</label>-->
        <!--<div class="col-md-4">-->
            <!--<ui-select ng-model="address.selected"-->
                       <!--theme="bootstrap"-->
                       <!--ng-disabled="disabled"-->
                       <!--reset-search-input="false">-->
                <!--<ui-select-match placeholder="Введите название города">{{$select.selected.formatted_address}}</ui-select-match>-->
                <!--<ui-select-choices repeat="address in addresses track by $index"-->
                                   <!--refresh="refreshAddresses($select.search)"-->
                                   <!--refresh-delay="0">-->
                    <!--<div ng-bind-html="address.formatted_address | highlight: $select.search"></div>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-md-2 control-label" translate>STREET</label>
        <div class="col-md-4">
            <input ng-model="address.street" type="text" class="form-control" placeholder="{{'STREET' | translate}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>BUILDING</label>
        <div class="col-md-4">
            <input ng-model="address.building" type="text" class="form-control" placeholder="{{'BUILDING' | translate}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>HOUSING</label>
        <div class="col-md-4">
            <input ng-model="address.housing" type="text" class="form-control" placeholder="{{'HOUSING' | translate}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>APT</label>
        <div class="col-md-4">
            <input ng-model="address.apt" type="number" class="form-control" placeholder="{{'APT' | translate}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="{{'SAVE' | translate}}">
            <span></span>
            <input type="reset" class="btn btn-default" value="{{'CANCEL' | translate}}">
        </div>
    </div>

</form>
</div>