<form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-md-2 selecter-label">
            Страна
        </label>

        <div class="col-md-4">
            <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="country in countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Город</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Город">
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label class="col-md-2 selecter-label">-->
            <!--Город-->
        <!--</label>-->
        <!--<div class="col-md-4">-->
            <!--<ui-select ng-model="address.selected"-->
                       <!--theme="bootstrap"-->
                       <!--ng-disabled="disabled"-->
                       <!--reset-search-input="false">-->
                <!--<ui-select-match placeholder="Введите название города">{{$select.selected.formatted_address}}</ui-select-match>-->
                <!--<ui-select-choices repeat="address in addresses track by $index"-->
                                   <!--refresh="refreshAddresses($select.search)"-->
                                   <!--refresh-delay="0">-->
                    <!--<div ng-bind-html="address.formatted_address | highlight: $select.search"></div>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-md-2 control-label">Улица</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Улица">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Дом</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Дом">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Корпус</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Корпус">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Квартира</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Квартира">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Сохранить">
            <span></span>
            <input type="reset" class="btn btn-default" value="Отмена">
        </div>
    </div>

</form>
</div>