<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">Заголовок</label>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Краткий заголовок объявления">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Описание</label>
        <div class="col-md-6">
            <textarea class="form-control" rows="10" name="text" placeholder="Описание жилья"></textarea>
        </div>
    </div>

</form>