<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип жилья *</label>
        <div class="col-md-4">
            <select name="selecter_basic" class="selecter_label_1">
                <option class="blank" value="">Выберите вариант из списка</option>
                <option value="1">Квартира</option>
                <option value="2">Дом</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип аренды *</label>
        <div class="col-md-4">
            <select name="selecter_basic" class="selecter_label_1">
                <option class="blank" value="">Выберите вариант из списка</option>
                <option value="1">Жилье целиком</option>
                <option value="2">Отдельная комната</option>
                <option value="3">Общая комната</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Цена за месяц</label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Стоимость проживания за месяц">
        </div>
    </div>

</form>
</div>
