<form ng-controller="GeneralCtrl" class="form-horizontal" ng-submit="save(house)" role="form">
    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип жилья *</label>
        <div class="col-md-4">
            <select name="house_type" ng-model="house.house_type">
                <option class="blank" value="">Выберите вариант из списка</option>
                <option value="1">Квартира</option>
                <option value="2">Дом</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип аренды *</label>
        <div class="col-md-4">
            <select name="rent_type" ng-model="house.rent_type">
                <option class="blank" value="">Выберите вариант из списка</option>
                <option value="1">Жилье целиком</option>
                <option value="2">Отдельная комната</option>
                <option value="3">Общая комната</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Цена за месяц</label>
        <div class="col-md-4">
            <input type="text" ng-model="house.price" class="form-control" placeholder="Стоимость проживания за месяц">
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Сохранить">
            <span></span>
            <input type="reset" class="btn btn-default" value="Отмена">
        </div>
    </div>

</form>
</div>
