<form ng-controller="GeneralCtrl" class="form-horizontal" ng-submit="save(house)" role="form">

    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип жилья *</label>
        <div class="col-md-4">
            <select class="form-control" ng-model="house.houseType" ng-options="type for type in constants.houseTypes">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 selecter-label">Тип аренды *</label>
        <div class="col-md-4">
            <select class="form-control" ng-model="house.rentType" ng-options="rent for rent in constants.rentTypes">

            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Цена за месяц</label>
        <div class="col-md-4">
            <input type="number" ng-model="house.price" class="form-control" placeholder="Стоимость проживания за месяц">
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Сохранить">
            <span></span>
            <input type="reset" class="btn btn-default" value="Отмена">
        </div>
    </div>

</form>
</div>
