<div class="col-md-9 col-sm-8">
    <div class="right-sec">
        <div class="top">
            <ul class="nav nav-tabs tooltip-demo">
                <li class="active"><a href="/#/">Все предложения <strong>432</strong></a>
                </li>
                <li><a href="/#/">Наиболее популярные</a>
                </li>
                <li><a href="/#/">Недавно опубликованные</a>
                </li>
                <li class="pull-right"><a href="/browse-listings-list.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="List View"><span class="glyphicon glyphicon-list"></span></a>
                </li>
                <li class="active pull-right"><a href="/images/AutoMarket - Browse Listings - Grid View.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Grid View"><span class="glyphicon glyphicon-th"></span></a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="house in housePage.items">
                <div class="thumbnail">
                    <a ng-sref="house.general">
                        <img alt="300x200" src="/images/houses/thumbnails/{{house.photo}}.jpg">
                    </a>
                    <span class="label label-primary">{{house.title}}</span>
                    <div class="caption">
                        <ul class="list-unstyled">
                            <li>
                                <span class="li-bold">Станция метро:</span> Метро
                            </li>
                            <li>
                                <span class="li-bold">Адрес:</span> {{house.address.street}}
                            </li>
                        </ul>

                        <ul class="list-inline index-props">
                            <li><span class="glyphicon glyphicon-stats"></span> {{house.views}} </li>
                            <li>·</li>
                            <li> <span class="glyphicon glyphicon-map-marker"></span> {{house.address.city}}</li>
                            <li>·</li>
                            <li><span class="glyphicon glyphicon-time"></span> {{house.daysAgo}}</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-info">Load more</button>
        </div>
    </div>
</div>
