<div class="col-md-9 col-sm-8">
    <div class="right-sec">
        <div class="top">
            <ul class="nav nav-tabs tooltip-demo">
                <li class="active"><a href="/#/">Все предложения <strong>432</strong></a>
                </li>
                <li><a href="/#/">Наиболее популярные</a>
                </li>
                <li><a href="/#/">Недавно опубликованные</a>
                </li>
                <li class="pull-right"><a href="/browse-listings-list.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="List View"><span class="glyphicon glyphicon-list"></span></a>
                </li>
                <li class="active pull-right"><a href="/images/AutoMarket - Browse Listings - Grid View.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Grid View"><span class="glyphicon glyphicon-th"></span></a>
                </li>
            </ul>
        </div>

        <div class="row">

        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-info">Load more</button>
        </div>
    </div>
</div>
