@(startForm:play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.auth.inputFieldConstructor.f) }

@views.html.main {
    <div id="landing">
        <div class="header-image">
            <div class="container">
                <div class="auth-unit">
                    <h3 class="text-brand"><span class="glyphicon glyphicon-chevron-up"></span> flattern<span class="sec-brand">.org</span></h3>
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger">
                            @Messages(msg)
                        </div>
                    }
                    <div class="auth-unit-top">
                        <h3>@Messages("securesocial.password.title")</h3>
                    </div>

                    <div class="auth-unit-inner">
                        <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)(request)"
                        class=""
                        autocomplete="off" method="post"
                        role="form"
                        method="post"
                        >
                            @helper.inputText(
                                startForm("email"),
                                '_label -> Messages("securesocial.signup.email1"),
                                'class -> "form-control"
                            )

                            <button id="message_trigger_ok" class="btn btn-danger btn-block" type="submit">@Messages("securesocial.password.reset")</button>

                            @*<hr>
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login with Twitter" role="button"><i class="fa fa-twitter"></i></a>
                                <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Facebook" role="button"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Google+" role="button"><i class="fa fa-google-plus"></i></a>
                                <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Linkedin" role="button"><i class="fa fa-linkedin"></i></a>
                            </div>*@

                        </form>
                    </div>
                    <br>
                    <a href="@securesocial.core.providers.utils.RoutesHelper.login().toString()" class="btn btn-primary btn-block btn-lg">@Messages("securesocial.login.title")</a>
                </div>
            </div>
        </div>
            <!-- /header-image -->
    </div>
}
