<content class="page-sub-page page-sign-in page-account">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Password Reset</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <header><h1>Password Reset</h1></header>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <div ng-show="form.errors.message" class="alert alert-danger">
                        {{ form.errors.message }}
                    </div>
                    <form ng-submit="sendEmail()" role="form" id="form-create-account" method="post" action=""  ng-class='{"has-error": form.errors.message != null}' form-autofill-fix>
                        <div class="form-group" ng-class='{"has-error": form.errors.email != null}'>
                            <label for="email">Email</label>
                            <input class="form-control"
                                   id="email"
                                   name="email"
                                   ng-model="form.email"
                                   type="email" size="40"
                                   placeholder="Email Address"
                                   required="true">
                            <label ng-show="form.errors.email" class="control-label animate-show" for="email">{{ form.errors.email[0] }}</label>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-right btn-default" id="account-submit">Submit</button>
                        </div>
                    </form>
                    <hr>
                    <div class="center"><a href="#">I don't remember my password</a></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

</content>
