    <div id="landing">
        <div class="header-image">
            <div class="container">
                <div class="auth-unit">
                    <h3 class="text-brand"><span class="glyphicon glyphicon-chevron-up"></span> flattern<span class="sec-brand">.org</span></h3>
                    <div ng-show="form.errors.message" class="alert alert-danger">
                        {{ form.errors.message }}
                    </div>
                    <div class="auth-unit-top">
                        <h3>Смена пароля</h3>
                    </div>
                    <div class="auth-unit-inner">
                        <form ng-controller="PasswordCtrl" ng-submit="change()" class="form-container" ng-class='{"has-error": form.errors.message != null}'>
                            <div class="form-group" id="currentPassword_field">
                                <label for="currentPassword">Текущий пароль</label>
                                <input id="currentPassword"
                                       name="currentPassword"
                                       ng-model="form.currentPassword"
                                       type="password"
                                       errors="form.errors['currentPassword']"
                                       required="true"
                                       class="form-control">
                            </div>
                            <div class="form-group" id="newPassword_password1_field">
                                <label for="newPassword.password1">Новый пароль</label>
                                <input id="newPassword.password1"
                                       name="newPassword.password1"
                                       ng-model="form.newPassword.password1"
                                       type="password"
                                       errors="form.errors['newPassword.password1']"
                                       required="true"
                                       class="form-control">
                            </div>
                            <div class="form-group" id="newPassword_password2_field">
                                <label for="newPassword.password2">Подтвердите новый пароль</label>
                                <input id="newPassword.password2"
                                       name="newPassword.password2"
                                       ng-model="form.newPassword.password2"
                                       type="password"
                                       errors="form.errors['newPassword.password2']"
                                       required="true"
                                       class="form-control">
                            </div>
                            <button id="message_trigger_ok" class="btn btn-block btn-success" type="submit">Сменить</button>
                        </form>
                    </div>
                    <br>
                    <a href="#/login" class="btn btn-primary btn-block btn-lg">Вход</a>
                </div>
            </div>
        </div>
            <!-- /header-image -->
    </div>