<div id="landing">
    <div class="header-image">
        <div class="container">
            <div class="auth-unit">
                <h3 class="text-brand"><span class="glyphicon glyphicon-chevron-up"></span> flattern<span class="sec-brand">.org</span></h3>
                <div ng-show="form.errors.message" class="alert alert-danger">
                    {{ form.errors.message }}
                </div>
                <div class="auth-unit-top">
                    <h3>Регистрация</h3>
                </div>
                <div class="auth-unit-inner">
                    <form ng-controller="SignUpCtrl" ng-submit="signUp()" class="form-container" ng-init="getEmail()" ng-class='{"has-error": form.errors.message != null}'>
                        <div class="form-group" id="firstName_field" ng-class='{"has-error": form.errors.firstName != null}'>
                            <label for="firstName">Имя</label>
                            <input id="firstName"
                                   name="firstName"
                                   ng-model="form.firstName"
                                   type="text"
                                   required="true" class="form-control">
                            <label ng-show="form.errors.firstName" class="control-label animate-show" for="firstName">{{ form.errors.firstName[0] }}</label>
                        </div>
                        <div class="form-group" id="lastName_field" ng-class='{"has-error": form.errors.lastName != null}'>
                            <label for="lastName">Фамилия</label>
                            <input id="lastName"
                                   name="lastName"
                                   ng-model="form.lastName"
                                   type="text"
                                   required="true" class="form-control">
                            <label ng-show="form.errors.lastName" class="control-label animate-show" for="lastName">{{ form.errors.lastName[0] }}</label>
                        </div>
                        <div class="form-group" id="password_password1_field" ng-class='{"has-error": form.errors.password.password1 != null}'>
                            <label for="password.password1">Пароль</label>
                            <input id="password.password1"
                                   name="password.password1"
                                   ng-model="form.password.password1"
                                   type="password"
                                   required="true" class="form-control">
                            <label ng-show="form.errors.password.password1" class="control-label animate-show" for="lastName">{{ form.errors.password.password1[0] }}</label>
                        </div>
                        <div class="form-group" id="password_password2_field" ng-class='{"has-error": form.errors.password.password2 != null}'>
                            <label for="password.password2">Подтверждение пароля</label>
                            <input id="password.password2"
                                   name="password.password2"
                                   ng-model="form.password.password2"
                                   type="password"
                                   required="true" class="form-control">
                            <label ng-show="form.errors.password.password2" class="control-label animate-show" for="lastName">{{ form.errors.password.password2[0] }}</label>

                        </div>
                        <button id="message_trigger_ok" class="btn btn-block btn-success" type="submit">Создать аккаунт</button>
                    </form>
                </div>
                <br>
                <a href="#/login" class="btn btn-primary btn-block btn-lg">Вход</a>
            </div>
        </div>
    </div>
    <!-- /header-image -->
</div>