
<content class="page-sub-page page-pricing">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Pricing</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <header><h1>Add Your Property</h1></header>
            <section id="pricing">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="price-box">
                            <header><h2>Free</h2></header>
                            <div class="price">
                                <figure>$0</figure>
                                <small>forever</small>
                            </div>
                            <ul>
                                <li><span>1</span> Property</li>
                                <li><span>1</span> Agent Profile</li>
                                <li class="not-available">Agency Profile</li>
                                <li class="not-available">Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="price-box">
                            <header><h2>Silver</h2></header>
                            <div class="price">
                                <figure>$20</figure>
                                <small>/ month</small>
                            </div>
                            <ul>
                                <li><span>20</span> Properties</li>
                                <li><span>10</span> Agent Profiles</li>
                                <li><span>5</span> Agency Profiles</li>
                                <li>Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="price-box promoted">
                            <header><h2>Gold</h2></header>
                            <div class="price">
                                <figure>$40</figure>
                                <small>/ month</small>
                            </div>
                            <ul>
                                <li><span>30</span> Properties</li>
                                <li><span>20</span> Agent Profiles</li>
                                <li><span>10</span> Agency Profiles</li>
                                <li>Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="price-box">
                            <header><h2>Platinum</h2></header>
                            <div class="price">
                                <figure>$60</figure>
                                <small>/ month</small>
                            </div>
                            <ul>
                                <li><span>Unlimited</span> Properties</li>
                                <li><span>Unlimited</span> Agent Profiles</li>
                                <li><span>Unlimited</span> Agency Profiles</li>
                                <li>Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </section><!-- /#pricing -->
            <section id="select-package">
                <div class="table-responsive submit-pricing">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Your Package:</th>
                            <th class="title">Free</th>
                            <th class="title">Silver</th>
                            <th class="title">Gold</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="prices">
                            <td></td>
                            <td>$0</td>
                            <td>$20</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Property Submit Limit</td>
                            <td>1</td>
                            <td>20</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Agent Profiles</td>
                            <td>1</td>
                            <td>10</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Agency Profiles</td>
                            <td class="not-available"><i class="fa fa-times"></i></td>
                            <td>5</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Featured Properties</td>
                            <td class="not-available"><i class="fa fa-times"></i></td>
                            <td class="available"><i class="fa fa-check"></i></td>
                            <td class="available"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="buttons">
                            <td></td>
                            <td class="package-selected" data-package="free"><button type="button" class="btn btn-default small">Select</button></td>
                            <td data-package="silver"><button type="button" class="btn btn-default small">Select</button></td>
                            <td data-package="gold"><button type="button" class="btn btn-default small">Select</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.submit-pricing -->
            </section><!-- /#select-package -->
            <section id="pricing-3">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="price-box">
                            <header><h2>Free</h2></header>
                            <div class="price">
                                <figure>$0</figure>
                                <small>forever</small>
                            </div>
                            <ul>
                                <li><span>1</span> Property</li>
                                <li><span>1</span> Agent Profile</li>
                                <li class="not-available">Agency Profile</li>
                                <li class="not-available">Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="price-box promoted">
                            <header><h2>Silver</h2></header>
                            <div class="price">
                                <figure>$20</figure>
                                <small>/ month</small>
                            </div>
                            <ul>
                                <li><span>20</span> Properties</li>
                                <li><span>10</span> Agent Profiles</li>
                                <li><span>5</span> Agency Profiles</li>
                                <li>Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="price-box">
                            <header><h2>Gold</h2></header>
                            <div class="price">
                                <figure>$40</figure>
                                <small>/ month</small>
                            </div>
                            <ul>
                                <li><span>30</span> Properties</li>
                                <li><span>20</span> Agent Profiles</li>
                                <li><span>10</span> Agency Profiles</li>
                                <li>Featured Properties</li>
                            </ul>
                            <a href="#" class="btn btn-default">Sign In</a>
                        </div><!-- /.price-box -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </section><!-- /#pricing-3 -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

</content>
