<content class="page-sub-page page-profile page-account">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Account</a></li>
                <li class="active">Profile</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 col-sm-2">
                <section id="sidebar">
                    <header><h3>Account</h3></header>
                    <aside>
                        <ul class="sidebar-navigation">
                            <li class="active"><a href="#"><i class="fa fa-user"></i><span>Item 1</span></a></li>
                            <li><a href="#"><i class="fa fa-home"></i><span>Item 2</span></a></li>
                            <li>
                                <a href="#"><i class="fa fa-heart"></i><span>Item 3</span></a>
                                <ul>
                                    <li><a href="#">Sub Item 1</a></li>
                                    <li><a href="#">Sub Item 2</a>
                                        <ul>
                                            <li><a href="#">Sub Item 1</a></li>
                                            <li class="active"><a href="#">Sub Item 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Sub Item 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
                <!-- Shortcodes -->
                <div class="col-md-9 col-sm-10">
                    <section id="profile">
                        <header><h1>Profile</h1></header>
                        <h2>Property Grid</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="property equal-height">
                                    <figure class="tag status">For Sale</figure>
                                    <figure class="type" title="Apartment"><img src="/images/property-types/apartment.png"></figure>
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src="/images/properties/property-09.jpg">
                                        </div>
                                        <div class="overlay">
                                            <div class="info">
                                                <div class="tag price">$ 11,000</div>
                                                <h3>3398 Lodgeville Road</h3>
                                                <figure>Golden Valley, MN 55427</figure>
                                            </div>
                                            <ul class="additional-info">
                                                <li>
                                                    <header>Area:</header>
                                                    <figure>240m<sup>2</sup></figure>
                                                </li>
                                                <li>
                                                    <header>Beds:</header>
                                                    <figure>2</figure>
                                                </li>
                                                <li>
                                                    <header>Baths:</header>
                                                    <figure>2</figure>
                                                </li>
                                                <li>
                                                    <header>Garages:</header>
                                                    <figure>0</figure>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div><!-- /.property -->
                            </div><!-- /.col-md-3 -->
                        </div>

                        <h2>Property Masonry</h2>
                        <div class="grid">
                            <div class="property masonry">
                                <div class="inner">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <figure class="tag status">For Sale</figure>
                                            <figure class="type" title="Apartment"><img src="/images/property-types/apartment.png"></figure>
                                            <div class="overlay">
                                                <div class="info">
                                                    <div class="tag price">$ 11,000</div>
                                                </div>
                                            </div>
                                            <img alt="" src="/images/properties/property-09.jpg">
                                        </div>
                                    </a>
                                    <aside>
                                        <header>
                                            <a href="property-detail.html"><h3>3398 Lodgeville Road</h3></a>
                                            <figure>Golden Valley, MN 55427</figure>
                                        </header>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                        <dl>
                                            <dt>Status:</dt>
                                            <dd>Sale</dd>
                                            <dt>Area:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                            <dd>3</dd>
                                            <dt>Baths:</dt>
                                            <dd>2</dd>
                                        </dl>
                                        <a href="property-detail.html" class="link-arrow">Read More</a>
                                    </aside>
                                </div>
                            </div><!-- /.property -->
                        </div>

                        <h2>Property Lines</h2>
                        <div class="display-lines">
                            <div class="property">
                                <figure class="tag status">For Sale</figure>
                                <figure class="type" title="Apartment"><img src="/images/property-types/apartment.png"></figure>
                                <div class="property-image">
                                    <figure class="ribbon">In Hold</figure>
                                    <a href="property-detail.html">
                                        <img alt="" src="/images/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="property-detail.html"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">$ 38,000</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Status:</dt>
                                            <dd>Sale</dd>
                                            <dt>Area:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                            <dd>3</dd>
                                            <dt>Baths:</dt>
                                            <dd>2</dd>
                                        </dl>
                                    </aside>
                                    <a href="property-detail.html" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                        </div>

                        <h2>Buttons</h2>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">btn-default</button>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-info">btn-info</button>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">btn-warning</button>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">btn-danger</button>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">btn-success</button>
                        </div><!-- /.form-group -->

                        <br>

                        <h2>Forms</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text-field">Text Field</label>
                                    <input type="text" class="form-control" id="text-field" name="title" required>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="submit-price">Number Field with Addon</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" id="submit-price" name="price" pattern="\d*" required>
                                    </div>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="submit-location">Select</label>
                                    <select name="type" id="submit-location">
                                        <option value="1">New York</option>
                                        <option value="2">Los Angeles</option>
                                        <option value="3">Chicago</option>
                                        <option value="4">Houston</option>
                                        <option value="5">Philadelphia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Checkboxes</label>
                                <ul class="submit-features">
                                    <li><div class="checkbox"><label><input type="checkbox">Air conditioning</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Bedding</label></div></li>
                                </ul>
                            </div>
                        </div>




                    </section><!-- /#profile -->
                </div><!-- /.col-md-9 -->
                <!-- end Shortcodes -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
</content>
