<content class="page-sub-page page-submission-success" id="page-top">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Thank you!</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <section class="center submission-message">
                <header>Thank you for your submission!</header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod quam sapien</p>
                <a href="index-google-map-fullscreen.html" class="link-arrow">Go to homepage</a>
            </section>
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

</content>
