<section id="sidebar">
    <header><h3>Property settings</h3></header>
    <aside>
        <ul class="sidebar-navigation">
            <li class="active"><a ui-sref="property.profile.general"><i class="fa fa-user"></i><span>General information</span></a></li>
            <li><a ui-sref="property.profile.basic"><i class="fa fa-home"></i><span>Basic information</span></a></li>
            <li><a ui-sref="property.profile.address"><i class="fa fa-heart"></i><span>Address</span></a></li>
            <li><a ui-sref="property.profile.amenities"><i class="fa fa-heart"></i><span>Amenities</span></a></li>
            <li><a ui-sref="property.profile.photos"><i class="fa fa-heart"></i><span>Photos</span></a></li>
        </ul>
    </aside>
</section><!-- /#sidebar -->