<form class="form-horizontal" ng-submit="save(user)" role="form">

    <div class="form-group">
        <label class="col-md-2 control-label" translate>PRIVACY</label>
        <div class="col-md-4">
            <label for="{{privacy.name}}" ng-repeat="privacy in user.privacy">
                <input class="checkbox" id="{{privacy.name}}" name="selectedPrivacy[]" ng-model="user.privacySelected" ng-change="toggleSelection(privacy.name)" ng-checked="privacy.selected" type="checkbox" value="{{privacy.name}}" picker-plug />
                <span translate>{{privacy.name}} </span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>WISHES</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.wishes" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 selecter-label" translate>SEX</label>
        <div class="col-md-4">
            <select class="form-control" ng-model="user.wsex" ng-options="wsex | translate for wsex in constants.sexTypes">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>AGE</label>
        <div class="col-md-4">
            <input type="number" ng-model="user.wage" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>WPRICE</label>
        <div class="col-md-4">
            <input type="number" ng-model="user.wprice" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>COUNTRY</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.wcountry" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>DISTRICT</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.wdistrict" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="{{'SAVE' | translate}}">
            <span></span>
            <input type="reset" class="btn btn-default" value="{{'CANCEL' | translate}}">
        </div>
    </div>

</form>
</div>
