<form class="form-horizontal" ng-submit="save(user)" role="form">

    <div class="form-group">
        <label class="col-md-2 control-label" translate>FIRST_NAME</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.firstName" class="form-control" placeholder="Имя">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>LAST_NAME</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.lastName" class="form-control" placeholder="Фамилия">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 selecter-label" translate>SEX</label>
        <div class="col-md-4">
            <select class="form-control" ng-model="user.sex" ng-options="sex | translate for sex in constants.sexTypes">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>BIRTH_DATE</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.birthDate" class="form-control" placeholder="Дата рождения">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>EMAIL</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.email" class="form-control" placeholder="email@flattern.org">
        </div>
    </div>

    <!--<div class="form-group">
        <label class="col-md-2 selecter-label" translate>TIMEZONE</label>
        <div class="col-md-4">
            <select class="form-control" ng-model="user.timezone" ng-options="timezone | translate for timezone in constants.timezones">
            </select>
        </div>
    </div>-->

    <div class="form-group">
        <label class="col-md-2 control-label" translate>PASSWORD1</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.password1" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" translate>PASSWORD2</label>
        <div class="col-md-4">
            <input type="text" ng-model="user.password2" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="{{'SAVE' | translate}}">
            <span></span>
            <input type="reset" class="btn btn-default" value="{{'CANCEL' | translate}}">
        </div>
    </div>

</form>
</div>
