<div id="houses" class="row" data-ng-repeat="house in houses">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#/house/{{ house.id }}">
                <img class="media-object" alt="64x64" style="" ng-src="images/houses/thumbnails/thumb-{{ house.photo }}.jpg" err-src="images/houses/default.jpg">
            </a>
            <div class="media-body">
                <h4>
                    <a href="#/house/{{ house.id }}">{{ house.title }}</a>
                    <span class="label label-success pull-right">{{ house.price }}</span>
                </h4>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </li>
    </ul>
</div>