/* navi user bar */

.ace-nav {
    height: 100%;
    margin: 0 !important;
}

.ace-nav > li:first-child {
    border-left-width: 0;
}

.ace-nav > li {
    line-height: 45px;
    height: 45px;
    border-left: 1px solid #ffffff;
    padding: 0;
    position: relative;
    float: left;
}

.ace-nav .left > a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ace-nav .right > a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.blue-flattern {
    color: #428bca !important;
}

.grey {
    color: #777 !important;
}

.purple {
    color: #a069c3 !important;
}

.green {
    color: #69aa46 !important;
}

.light-blue {
    color: #93cbf9 !important;
}

.ace-nav > li.grey > a {
    background-color: #555;
}

.ace-nav > li.purple > a {
    background-color: #892e65;
}

.ace-nav > li > a {
    background-color: #428bca;
    color: #FFF;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 30px;
    width: auto;
    min-width: 50px;
    padding: 0 8px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ace-nav > li > a > .ace-icon {
    display: inline-block;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    width: 20px;
    top: -7px;
    position: relative;
}

.ace-nav > li > a >.badge {
    position: relative;
    top: -9px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.badge-grey {
    background-color: rgb(160, 160, 160);
}

.badge {
    text-shadow: none;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 15px;
    background-color: rgb(171, 186, 195);
}

.dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: -5px;
}

.ace-nav>li .dropdown-menu {
    z-index: 1031;
}

.dropdown-menu.dropdown-close {
    top: 92%;
    left: -5px;
}

.dropdown-navbar {
    padding: 0px;
    width: 240px;
    -webkit-box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    border-color: rgb(188, 212, 229);
}

.dropdown-navbar > li {
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
}

.dropdown-navbar.navbar-pink > li.dropdown-header {
    color: rgb(180, 113, 160);
    border-bottom-color: rgb(229, 188, 212);
    background-color: rgb(247, 236, 242);
}

.dropdown-navbar > li.dropdown-header {
    color: rgb(128, 144, 160);
    border-bottom-color: rgb(188, 212, 229);
    background-color: rgb(236, 242, 247);
    padding: 0px 8px;
}

.dropdown-navbar > li.dropdown-header {
    text-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    /*border-bottom: 1px solid;*/
}

.dropdown-menu {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    border-radius: 0px;
}

.icon-animated-bell {display:inline-block;-moz-animation:ringing 2.0s 5 ease 1.0s;-webkit-animation:ringing 2.0s 5 ease 1.0s;-o-animation:ringing 2.0s 5 ease 1.0s;-ms-animation:ringing 2.0s 5 ease 1.0s;animation:ringing 2.0s 5 ease 1.0s;-moz-transform-origin:50% 0%;-webkit-transform-origin:50% 0%;-o-transform-origin:50% 0%;-ms-transform-origin:50% 0%;transform-origin:50% 0%}@-moz-keyframes ringing{0%{-moz-transform:rotate(-15deg)}2%{-moz-transform:rotate(15deg)}4%{-moz-transform:rotate(-18deg)}6%{-moz-transform:rotate(18deg)}8%{-moz-transform:rotate(-22deg)}10%{-moz-transform:rotate(22deg)}12%{-moz-transform:rotate(-18deg)}14%{-moz-transform:rotate(18deg)}16%{-moz-transform:rotate(-12deg)}18%{-moz-transform:rotate(12deg)}20%{-moz-transform:rotate(0deg)}}@-webkit-keyframes ringing{0%{-webkit-transform:rotate(-15deg)}2%{-webkit-transform:rotate(15deg)}4%{-webkit-transform:rotate(-18deg)}6%{-webkit-transform:rotate(18deg)}8%{-webkit-transform:rotate(-22deg)}10%{-webkit-transform:rotate(22deg)}12%{-webkit-transform:rotate(-18deg)}14%{-webkit-transform:rotate(18deg)}16%{-webkit-transform:rotate(-12deg)}18%{-webkit-transform:rotate(12deg)}20%{-webkit-transform:rotate(0deg)}}@-ms-keyframes ringing{0%{-ms-transform:rotate(-15deg)}2%{-ms-transform:rotate(15deg)}4%{-ms-transform:rotate(-18deg)}6%{-ms-transform:rotate(18deg)}8%{-ms-transform:rotate(-22deg)}10%{-ms-transform:rotate(22deg)}12%{-ms-transform:rotate(-18deg)}14%{-ms-transform:rotate(18deg)}16%{-ms-transform:rotate(-12deg)}18%{-ms-transform:rotate(12deg)}20%{-ms-transform:rotate(0deg)}}@keyframes ringing{0%{transform:rotate(-15deg)}2%{transform:rotate(15deg)}4%{transform:rotate(-18deg)}6%{transform:rotate(18deg)}8%{transform:rotate(-22deg)}10%{transform:rotate(22deg)}12%{transform:rotate(-18deg)}14%{transform:rotate(18deg)}16%{transform:rotate(-12deg)}18%{transform:rotate(12deg)}20%{transform:rotate(0deg)}}.icon-animated-vertical{display:inline-block;-moz-animation:vertical 2.0s 5 ease 2.0s;-webkit-animation:vertical 2.0s 5 ease 2.0s;-o-animation:vertical 2.0s 5 ease 2.0s;-ms-animation:vertical 2.0s 5 ease 2.0s;animation:vertical 2.0s 5 ease 2.0s}@-moz-keyframes vertical{0%{-moz-transform:translate(0, -3px)}4%{-moz-transform:translate(0, 3px)}8%{-moz-transform:translate(0, -3px)}12%{-moz-transform:translate(0, 3px)}16%{-moz-transform:translate(0, -3px)}20%{-moz-transform:translate(0, 3px)}22%{-moz-transform:translate(0, 0)}}@-webkit-keyframes vertical{0%{-webkit-transform:translate(0, -3px)}4%{-webkit-transform:translate(0, 3px)}8%{-webkit-transform:translate(0, -3px)}12%{-webkit-transform:translate(0, 3px)}16%{-webkit-transform:translate(0, -3px)}20%{-webkit-transform:translate(0, 3px)}22%{-webkit-transform:translate(0, 0)}}@-ms-keyframes vertical{0%{-ms-transform:translate(0, -3px)}4%{-ms-transform:translate(0, 3px)}8%{-ms-transform:translate(0, -3px)}12%{-ms-transform:translate(0, 3px)}16%{-ms-transform:translate(0, -3px)}20%{-ms-transform:translate(0, 3px)}22%{-ms-transform:translate(0, 0)}}@keyframes vertical{0%{transform:translate(0, -3px)}4%{transform:translate(0, 3px)}8%{transform:translate(0, -3px)}12%{transform:translate(0, 3px)}16%{transform:translate(0, -3px)}20%{transform:translate(0, 3px)}22%{transform:translate(0, 0)}}.icon-animated-hand-pointer{display:inline-block;-moz-animation:hand-pointer 2.0s 4 ease 2.0s;-webkit-animation:hand-pointer 2.0s 4 ease 2.0s;-o-animation:hand-pointer 2.0s 4 ease 2.0s;-ms-animation:hand-pointer 2.0s 4 ease 2.0s;animation:hand-pointer 2.0s 4 ease 2.0s}@-moz-keyframes hand-pointer{0%{-moz-transform:translate(0, 0)}6%{-moz-transform:translate(5px, 0)}12%{-moz-transform:translate(0, 0)}18%{-moz-transform:translate(5px, 0)}24%{-moz-transform:translate(0, 0)}30%{-moz-transform:translate(5px, 0)}36%{-moz-transform:translate(0, 0)}}.icon-animated-wrench{display:inline-block;-moz-animation:wrenching 2.5s 4 ease;-webkit-animation:wrenching 2.5s 4 ease;-o-animation:wrenching 2.5s 4 ease;-ms-animation:wrenching 2.5s 4 ease;animation:wrenching 2.5s 4 ease;-moz-transform-origin:90% 35%;-webkit-transform-origin:90% 35%;-o-transform-origin:90% 35%;-ms-transform-origin:90% 35%;transform-origin:90% 35%}@-moz-keyframes wrenching{0%{-moz-transform:rotate(-12deg)}8%{-moz-transform:rotate(12deg)}10%{-moz-transform:rotate(24deg)}18%{-moz-transform:rotate(-24deg)}20%{-moz-transform:rotate(-24deg)}28%{-moz-transform:rotate(24deg)}30%{-moz-transform:rotate(24deg)}38%{-moz-transform:rotate(-24deg)}40%{-moz-transform:rotate(-24deg)}48%{-moz-transform:rotate(24deg)}50%{-moz-transform:rotate(24deg)}58%{-moz-transform:rotate(-24deg)}60%{-moz-transform:rotate(-24deg)}68%{-moz-transform:rotate(24deg)}75%{-moz-transform:rotate(0deg)}}@-webkit-keyframes wrenching{0%{-webkit-transform:rotate(-12deg)}8%{-webkit-transform:rotate(12deg)}10%{-webkit-transform:rotate(24deg)}18%{-webkit-transform:rotate(-24deg)}20%{-webkit-transform:rotate(-24deg)}28%{-webkit-transform:rotate(24deg)}30%{-webkit-transform:rotate(24deg)}38%{-webkit-transform:rotate(-24deg)}40%{-webkit-transform:rotate(-24deg)}48%{-webkit-transform:rotate(24deg)}50%{-webkit-transform:rotate(24deg)}58%{-webkit-transform:rotate(-24deg)}60%{-webkit-transform:rotate(-24deg)}68%{-webkit-transform:rotate(24deg)}75%{-webkit-transform:rotate(0deg)}}@-o-keyframes wrenching{0%{-o-transform:rotate(-12deg)}8%{-o-transform:rotate(12deg)}10%{-o-transform:rotate(24deg)}18%{-o-transform:rotate(-24deg)}20%{-o-transform:rotate(-24deg)}28%{-o-transform:rotate(24deg)}30%{-o-transform:rotate(24deg)}38%{-o-transform:rotate(-24deg)}40%{-o-transform:rotate(-24deg)}48%{-o-transform:rotate(24deg)}50%{-o-transform:rotate(24deg)}58%{-o-transform:rotate(-24deg)}60%{-o-transform:rotate(-24deg)}68%{-o-transform:rotate(24deg)}75%{-o-transform:rotate(0deg)}}@-ms-keyframes wrenching{0%{-ms-transform:rotate(-12deg)}8%{-ms-transform:rotate(12deg)}10%{-ms-transform:rotate(24deg)}18%{-ms-transform:rotate(-24deg)}20%{-ms-transform:rotate(-24deg)}28%{-ms-transform:rotate(24deg)}30%{-ms-transform:rotate(24deg)}38%{-ms-transform:rotate(-24deg)}40%{-ms-transform:rotate(-24deg)}48%{-ms-transform:rotate(24deg)}50%{-ms-transform:rotate(24deg)}58%{-ms-transform:rotate(-24deg)}60%{-ms-transform:rotate(-24deg)}68%{-ms-transform:rotate(24deg)}75%{-ms-transform:rotate(0deg)}}@keyframes wrenching{0%{transform:rotate(-12deg)}8%{transform:rotate(12deg)}10%{transform:rotate(24deg)}18%{transform:rotate(-24deg)}20%{transform:rotate(-24deg)}28%{transform:rotate(24deg)}30%{transform:rotate(24deg)}38%{transform:rotate(-24deg)}40%{transform:rotate(-24deg)}48%{transform:rotate(24deg)}50%{transform:rotate(24deg)}58%{transform:rotate(-24deg)}60%{transform:rotate(-24deg)}68%{transform:rotate(24deg)}75%{transform:rotate(0deg)}}@-moz-keyframes blinking{0%{opacity:1}40%{opacity:0}80%{opacity:1}}@-webkit-keyframes blinking{0%{opacity:1}40%{opacity:0}80%{opacity:1}}@-ms-keyframes blinking{0%{opacity:1}40%{opacity:0}80%{opacity:1}}@keyframes blinking{0%{opacity:1}40%{opacity:0}80%{opacity:1}}@-moz-keyframes pulsating{0%{-moz-transform:scale(1)}5%{-moz-transform:scale(.75)}10%{-moz-transform:scale(1)}15%{-moz-transform:scale(1.25)}20%{-moz-transform:scale(1)}25%{-moz-transform:scale(.75)}30%{-moz-transform:scale(1)}35%{-moz-transform:scale(1.25)}40%{-moz-transform:scale(1)}}@-webkit-keyframes pulsating{0%{-webkit-transform:scale(1)}5%{-webkit-transform:scale(.75)}10%{-webkit-transform:scale(1)}15%{-webkit-transform:scale(1.25)}20%{-webkit-transform:scale(1)}25%{-webkit-transform:scale(.75)}30%{-webkit-transform:scale(1)}35%{-webkit-transform:scale(1.25)}40%{-webkit-transform:scale(1)}}@-ms-keyframes pulsating{0%{-ms-transform:scale(1)}5%{-ms-transform:scale(.75)}10%{-ms-transform:scale(1)}15%{-ms-transform:scale(1.25)}20%{-ms-transform:scale(1)}25%{-ms-transform:scale(.75)}30%{-ms-transform:scale(1)}35%{-ms-transform:scale(1.25)}40%{-ms-transform:scale(1)}}@keyframes pulsating{0%{transform:scale(1)}5%{transform:scale(.75)}10%{transform:scale(1)}15%{transform:scale(1.25)}20%{transform:scale(1)}25%{transform:scale(.75)}30%{transform:scale(1)}35%{transform:scale(1.25)}40%{transform:scale(1)}}


.label-success, .badge-success {
    background-color: rgb(130, 175, 111);
}

.label-important, .badge-important {
    background-color: rgb(209, 91, 71);
}

.label-success, .badge-info {
    background-color: #93cbf9;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

li.divider {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 0;
    font-size: 0;
}

.ace-nav > li > a:hover, .ace-nav > li > a:focus, .ace-nav > li.open > a {
    background-color:#2c5976;
    color:#FFF
}

.ace-nav > li.grey > a {
    background-color:#555
}

.ace-nav > li.grey > a:hover, .ace-nav > li.grey > a:focus, .ace-nav > li.open.grey > a {
    background-color:#4b4b4b
}

.ace-nav > li.purple > a {
    background-color:#892e65
}

.ace-nav > li.purple > a:hover, .ace-nav > li.purple > a:focus, .ace-nav > li.open.purple > a {
    background-color:#762c59
}

.ace-nav > li.green > a {
    background-color:#2e8965
}

.ace-nav > li.green > a:hover, .ace-nav > li.green > a:focus, .ace-nav > li.open.green > a {
    background-color:#2c7659
}

.ace-nav > li.light-blue > a {
    background-color: #62a8d1;
}

.ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:focus, .ace-nav > li.open.light-blue > a {
    background-color: #579ec8;
}

.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    width: 25px;
    height: 25px;
    top: -7px;
    position: relative;
}

.ace-nav .user-info {
    top: -7px;
    position: relative;
}

.flattern-menu {
    padding: 2px 16px 0 0;
}

.dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: -5px;
}

.ace-nav>li .dropdown-menu {
    z-index: 1031;
}

.dropdown-navbar.navbar-pink {
    border-color: rgb(229, 188, 212);
}

.dropdown-menu.dropdown-close {
    top: 92%;
    left: -5px;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-navbar {
    padding: 0px;
    width: 240px;
    -webkit-box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    border-color: rgb(188, 212, 229);
}

.dropdown-menu {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    border-radius: 0px;
}

.dropdown-navbar > li {
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
}

.btn-pink, .btn-pink:focus {
    background-color: #d6487e !important;
    border-color: #d6487e;
}

.btn-pink:hover, .btn-pink:active, .open .btn-pink.dropdown-toggle {
    background-color:#b73766 !important;
    border-color:#d6487e;
}

.btn-pink.no-border:hover, .btn-pink.no-border:active {
    border-color: #b73766;
}

.btn-pink.no-hover:hover, .btn-pink.no-hover:active {
    background-color: #d6487e !important;
}

.btn-pink.active {
    background-color: #c74072 !important;
    border-color: #af3462;
}

.btn-pink.no-border.active {
    background-color: #be386a !important;
    border-color: #be386a;
}

.btn-pink.disabled, .btn-pink[disabled],fieldset[disabled] .btn-pink, .btn-pink.disabled:hover,
.btn-pink[disabled]:hover, fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus, .btn-pink[disabled]:focus, fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active, .btn-pink[disabled]:active, fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active, .btn-pink[disabled].active, fieldset[disabled] .btn-pink.active {
    background-color: #d6487e !important;
    border-color: #d6487e;
}


.dropdown-navbar > li {
    padding: 0px 0px;
    background-color: rgb(255, 255, 255);
}

.dropdown-navbar > li:first-child > a, .dropdown-navbar > li.dropdown-header + li > a {
    border-top-width: 0px;
}

.navbar.navbar-pink > li > a {
    border-top-color: rgb(243, 228, 236);
}

.dropdown-navbar > li > a {
    padding: 10px 10px;
    margin: 0px;
    /*border-top: 1px solid;*/
    font-size: 12px;
    line-height: 16px;
    color: rgb(85, 85, 85);
}

/* ... */

.scroll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    background-color: #ACE;
    background: #bbd4e5;
}

.scroll-hz .scroll-track {
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    height: 8px;
    width: auto;
}

.scroll-hz .scroll-bar {
    height: inherit;
    width: auto;
}

.scroll-active .scroll-track {
    -webkit-transition: all .25s ease 0.6s;
    transition: all .25s ease 0.6s;
}

.scroll-active:hover .scroll-track, .scroll-active .scroll-track.active,
.scroll-active .scroll-track:active{
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.scroll-track.active > .scroll-bar {
    transition-property: none !important;
    transition-duration: 0s !important;
}

.scroll-margin .scroll-track {
    right: 1px;
}

.scroll-left .scroll-track {
    right: auto;
    left: 0;
}

.scroll-margin.scroll-left .scroll-track {
    left: 1px;
}

.scroll-top .scroll-track {
    bottom: auto;
    top: 0;
}

.scroll-margin.scroll-top .scroll-track {
    top: 1px;
}

.scroll-dark .scroll-bar {
    background-color: rgba(0,0,0,0.25);
}

.scroll-dark .scroll-track {
    background-color: rgba(0,0,0,0.15);
}

.scroll-light .scroll-bar {
    background-color: rgba(0,0,0,0.14);
}

.scroll-light .scroll-track {
    background-color: rgba(0,0,0,0.07);
}

.no-track .scroll-track {
    background-color: transparent;
}

.scroll-visible .scroll-track {
    opacity: 1;
    width: 8px;
}

.scroll-visible.scroll-hz .scroll-track {
    height: 8px;
    width: auto;
}

.scroll-thin:hover .scroll-track, .scroll-thin .scroll-track:active,
.scroll-thin .scroll-track.active, .scroll-thin.scroll-visible .scroll-track {
    width:6px;
}

.scroll-thin.scroll-hz:hover .scroll-track, .scroll-thin.scroll-hz .scroll-track:active,
.scroll-thin.scroll-hz .scroll-track.active, .scroll-thin.scroll-hz.scroll-visible .scroll-track {
    width:auto;height:6px;
}

.scroll-chrome .scroll-bar {
    background-color: transparent;
    width:11px;
}

.scroll-chrome .scroll-bar:before {
    display: block;
    content: "";
    position: absolute;
    top: 1px;
    bottom: 3px;
    left: 1px;
    right: 1px;
    background-color: #D9D9D9;
    border: 1px solid #BBB;
    border-radius: 1px;
}

.scroll-chrome .scroll-track {
    width: 12px !important;
    background-color: #F2F2F2;
    border: 1px solid;
    border-width: 1px 0 1px 1px;
    border-color: #E6E6E6 transparent #E6E6E6 #DBDBDB;
}

.scroll-chrome .scroll-track:hover .scroll-bar:before {
    background-color: #C0C0C0;
    border-color: #A6A6A6;
}

.scroll-chrome .scroll-track.active .scroll-bar:before {
    background-color: #A9A9A9;
    border-color:#8B8B8B;
}



