<div class="col-md-9 col-sm-8">
    <div class="right-sec">
        <div class="top">
            <ul class="nav nav-tabs tooltip-demo">
                <li class="active">
                    <a href="javascript:void(0);">Все пользователи  <strong>432</strong></a>
                </li>
                <li>
                    <a href="javascript:void(0);">Друзья друзей </a>
                </li>
                <li>
                    <a href="javascript:void(0);">Из почтового ящика</a>
                </li>
                <li class="pull-right">
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="List View"><span class="glyphicon glyphicon-list"></span></a>
                </li>
                <li class="active pull-right">
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Grid View"><span class="glyphicon glyphicon-th"></span></a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6" ng-repeat="user in userPage.items">
                <div class="thumbnail user">
                    <a ng-sref="user-show.index">
                        <img alt="200x300" src="#/user/{{ user.id }}">
                    </a>
                    <div class="caption">
                        <h4 class="title"><a href="">{{ user.fullName }}</a></h4>
                        <ul class="list-unstyled">                                </ul>
                        <button class="btn btn-block btn-success add-user" type="submit">Добавить в друзья</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-info">Load more</button>
        </div>
    </div>
</div>
