<div class="col-md-3 col-sm-4">
    <!-- left sec -->
    <div class="left-sec">
        <div class="left-cont" style="border-bottom: 0px;">
            <h6><span class="glyphicon glyphicon-search"></span> Поиск сожителя</h6>
            <form class="filter-sec">
                <input type="text" class="form-control" placeholder="Имя">
                <!-- страна -->
                <select name="selecter_basic" class="selecter_label_1">
                    <option value="1">Россия</option>
                    <option value="2">Белоруссия</option>
                </select>
                <!-- город -->
                <select name="selecter_basic" class="selecter_label_2">
                    <option value="1">Москва</option>
                    <option value="2">Белорусскийгород</option>
                </select>
                <!-- регион -->
                <select name="selecter_basic" class="selecter_label_3">
                    <option value="1">Москва</option>
                    <option value="2">Белорусскийрайон</option>
                </select>
                <!-- пол -->
                <select name="selecter_basic form-control" class="selecter_label_4">
                    <option value="1">Не важно</option>
                    <option value="2">М</option>
                    <option value="3">Ж</option>
                </select>
                <h5>Бюджет:</h5>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" class="form-control input-sm" placeholder="Low">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" class="form-control input-sm" placeholder="High">
                    </div>
                </div>
                <h5>Возраст:</h5>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" class="form-control input-sm" placeholder="1999">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" class="form-control input-sm" placeholder="2013">
                    </div>
                </div>
                <!-- статус -->
                <div class="input-control">
                    <input checked="checked" class="checkbox" id="checkbox_1" name="checkbox_1" type="checkbox" value="One" />
                    <label for="checkbox_1">Ищет жилье</label>
                    <input class="checkbox" id="checkbox_2" name="checkbox_2" type="checkbox" value="Two" />
                    <label for="checkbox_2">Ищет сожителя</label>
                    <input class="checkbox" id="checkbox_3" name="checkbox_3" type="checkbox" value="Three" />
                    <label for="checkbox_3">Сдает жилье</label>
                </div>
                <button type="button" class="btn btn-primary btn-sm">Искать</button>
            </form>

        </div>
    </div>
    <!-- /left sec -->
</div>
