<div class="left-cont">
    <ul class="nav menu">
        <li class="active">
           <a ui-sref="user.general" translate> GENERAL_INFO</a>
        </li>
        <li>
            <a ui-sref="user.about" translate> ABOUT</a>
        </li>
        <li>
           <a ui-sref="user.houses" translate> HOUSES</a>
        </li>
        <!-- <li>
            <a ui-sref="user.socials" translate> SOCIALS</a>
        </li>
        <li>
            <a ui-sref="user.photos" translate> PHOTOS</a>
        </li> -->
    </ul>
</div>